{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.movie_delete'|trans({'%id%': movie.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.movie_delete'|trans({'%id%': movie.id|default('')}) }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group float-sm-right">
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-danger btn-lg">
    </div>
    <div class="form-group float-sm-left">
        <a href="{{ url('movie_index') }}" class="btn btn-link btn-lg">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}