{% extends 'base.html.twig' %}

{% block title %}
Movies
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/movies.css') }}">

{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between my-3">
            <h1>Movies</h1>
        <a href="{{ url('category_index') }}" class="btn btn-primary btn-lg">
            {{ 'action.see_categories'|trans }}
        </a>
    </div>
    {% if pagination is defined and pagination.items|length %}
        {% for movie in pagination.items %}
            <dl>
                <dt>
                    <a href="{{ url('movie_show', {id: movie.id}) }}" title="{{ 'movie.details'|trans }}">
                        {{ movie.title }} </a>
                </dt>
                <dd>
                    <span class="badge bg-secondary">{{ movie.year }}</span>
                    <span class="badge bg-secondary">{{ movie.duration }}m</span>
                    {% for category in movie.category %}
                        <span class="badge bg-secondary">{{ category.title }}</span>
                    {% endfor%}
                </dd>
            </dl>
        {% endfor %}
        <p>
            <a href="{{ url('movie_create') }}" title="{{ 'action.create'|trans }}" class="btn btn-primary btn-lg">
                {{ 'action.create'|trans }}
            </a>
        </p>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}

