{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.movie_list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/movies.css') }}">

{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <table class="table">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'movie.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.year'|trans, 'movie.year') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.duration'|trans, 'movie.duration') }}</th>
            </tr>
        </table>
        <h1>{{ 'title.movie_list' | trans }}</h1>
        {% for movie in pagination.items %}
            <dl>
                <dt>
                    <a href="{{ url('movie_show', {id: movie.id}) }}" title="{{ 'title.movie_details'|trans({'%id%': movie.id|default('')})  }}">
                        {{ movie.title }} </a>
                </dt>
                <dd>
                    <span class="badge bg-secondary">{{ movie.year }}</span>
                    <span class="badge bg-secondary">{{ movie.duration }}m</span>
                    {% if movie.category is defined and movie.category|length %}
                        {% for category in movie.category %}
                            <span class="badge bg-secondary"><a href="{{ url('movie_index', {'filters.category_id' : category.id}) }}" title="{{ category.title }}">
                                {{ category.title }}</a>
                            </span>
                        {% endfor%}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </dd>
            </dl>
        {% endfor %}
        {% if is_granted("ROLE_ADMIN") %}
        <p>
            <a href="{{ url('movie_create') }}" title="{{ 'action.create'|trans }}" class="btn btn-primary btn-lg">
                {{ 'action.create'|trans }}
            </a>
        </p>
        {% endif %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'message.empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}

