{% extends 'base.html.twig' %}

{% block title %}
Movies
{% endblock %}

{% block body %}
    <h1>Movies</h1>
    {% if pagination is defined and pagination.items|length %}
        {% for movie in pagination.items %}
            <dl>
                <dt>
                    <a href="{{ url('movie_show', {id: movie.id}) }}" title="{{ 'movie.details'|trans }}">
                        {{ movie.title }} </a>
                </dt>
                <dd>
                    {{ movie.year }}
                    {{ movie.duration }} min
                </dd>
            </dl>
        {% endfor %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
    <p>Empty list</p>
    {% endif %}
{% endblock %}

