{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_movie_details'|trans({'%id%': movie.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    {% if movie is defined and movie|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.year'|trans }}</dt>
            <dd>{{ movie.year }}</dd>
            <dt>{{ 'label.duration'|trans }}</dt>
            <dd>{{ movie.duration }}m</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            {% for category in movie.category %}
                <dd>{{ category.title }}m</dd>
            {% endfor %}
            <dt>{{ 'label.director'|trans }}</dt>
            <dd>{{ movie.director }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ movie.description }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ movie.createdAt|format_date('long')}}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ movie.updatedAt|format_date('long') }}</dd>
        </dl>
        <div class="d-flex justify-content-around">
            <a href="{{ url('movie_delete', {id: movie.id}) }}" title="{{ 'action.delete'|trans }}" class="btn btn-danger btn-lg">
                {{ 'action.delete'|trans }}
            </a>
            <a href="{{ url('movie_edit', {id: movie.id}) }}" title="{{ 'action.edit'|trans }}" class="btn btn-warning btn-lg">
                {{ 'action.edit'|trans }}
            </a>
            <a href="{{ url('movie_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-primary btn-lg">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% else %}
        <p class="alert alert-warning" role="alert">
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}